<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >LakeSide PicNic</a>
    </li>
    <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a href="#about" onclick = $("#menu-close").click(); >About</a>
    </li>
    <li>
      <a href="#register" onclick = $("#menu-close").click(); >Register</a>
    </li>
    <li>
      <a href="https://instragram.com/lakesidepicnics" onclick = $("#menu-close").click(); >Instagram</a>
    </li>
    <li>
      <a href="https://twitter.com/lakesidepicnics" onclick = $("#menu-close").click(); >Twitter</a>
    </li>
  </ul>
</nav>
